---
- name: Installation et configuration d'Apache sur Ubuntu 24.04
  hosts: all
  # Ces paramètres peuvent aussi être définis dans l'Inventory Semaphore
  become: yes
  become_method: sudo
  # Si tu utilises la Solution 2, tu peux ajouter :
  # vars:
  #   ansible_become_pass: "{{ .sudo_password }}"
  
  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes
        cache_valid_time: 3600
    - name: Install Apache package
      apt:
        name: apache2
        state: latest
    - name: Ensure Apache is started and enabled
      service:
        name: apache2
        state: started
        enabled: yes